<div class="alert alert-success" role="alert">
    Sorry, there is something wrong. Please try again!!!
    </div>

<div class="row page-header">
    <div class="col-xs-4 col-xs-offset-4 text-center">
        <a href="#/login">Login</a>
        <a href="#/register">Register</a>
    </div>
</div>
<div class="row ">
    <div class="col-xs-4 col-xs-offset-4">
        <form class="well form-signin">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email" onfocus="angular.element(this).scope().changed()">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" onfocus="angular.element(this).scope().changed()">
            <button type="submit" class="btn btn-lg btn-primary btn-block shift-btn" ng-click="submit()">{{submitName}}</button>
        </form>
    </div>
</div>